[submodule "costarica"]
	path = costarica
	url = git@git.vauxoo.com:vauxoo/costarica.git
	branch = 14.0
[submodule "website"]
	path = website
	url = git@github.com:Vauxoo/website.git
	branch = 14.0
[submodule "stadiumsource"]
	path = stadiumsource
	url = git@git.vauxoo.com:vauxoo/stadiumsource.git
	branch = 14.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 14.0
